---
import Container from "./Container.astro"

---

<div id="blog">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Latest Articles</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
            See what the team has been doing & talking about recently, as well learn more about Aperture UI.
        </p>
      </div>
      <div class="flex flex-wrap justify-center gap-6">
      <a
      href="https://docs.apertureui.tech/blog"
      class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
    >
      <span class="relative text-base font-semibold text-white dark:text-dark"
        >Team Blogs</span
      >
    </a>
  </div>
      </div>
  </Container>
</div>