---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-ma.png" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Mikael Aboagye</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Lead Engine Programmer</p>
          </div>
        </div>
        <p class="mt-8">Coming from using other Web-like UI Frameworks like Valve's Panorama & Coherent GameFace, Aperture UI is a breath of fresh air. it allows me to have access to the source-code, so i can add to the library as needed, takes any webpage i throw at it with ease. you need to start using this library.</p>
      </div>

    </div>
  </Container>
</div>